.formGroup {
  margin-bottom: 15px;
}

.mandatoryField,
.inputError {
  color: #d92d20;
  margin: 0;
  font-size: 12px;
}

.formGroup label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #344054;
}
