.teamGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.noUserFound {
  text-align: center;
}

.noUserFound img {
  width: 500px;
}

@media screen and (max-width: 1012px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }

  .noUserFound img {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
  }
}
