.teamGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.noUserFound {
  text-align: center;
}

.noUserFound img {
  width: 500px;
}
