.teamPage {
  z-index: 0;
  flex-grow: 1;
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.teamPage h1 {
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .teamPage {
    height: calc(100vh - 72px);
  }
}
