.loginContainer {
  height: 100vh;
  gap: 7.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLeft {
  position: relative;
}

.loginLeft img {
  width: 520px;
  object-fit: cover;
  border-radius: 25px;
  height: 670px;
}

.loginRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 452px;
  flex-direction: column;
  align-items: flex-start;
}

.horizontalLineLogin {
  width: 148.5px;
  margin: 0;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.2);
}

.loginRightInfo h1 {
  text-align: start;
  margin-bottom: 0;
  letter-spacing: 0.25px;
  line-height: 60.5px;
  font-weight: 700;
  font-size: 48px;
  margin-top: 25px;
}

.loginRightInfo p {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

.loginRight img {
  height: 50px;
}

.loginForm input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 14px;
  height: 44px;
  width: 450px;
}

.loginForm .formGroup {
  margin-bottom: 40px;
}

.loginForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.loginBtn {
  background-color: #561fe7;
  color: #fff;
  width: 100%;
}

.loginImageOverlay {
  background-color: rgba(91, 53, 218, 0.7);
  height: 670px;
  width: 520px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1100px) {
  .loginImageOverlay,
  .loginLeft img {
    width: 420px;
    max-height: 539px;
  }

  .loginRight,
  .loginFormInput {
    width: 352px;
  }
}

@media screen and (max-width: 900px) {
  .loginImageOverlay,
  .loginLeft img {
    width: 320px;
    max-height: 421px;
  }

  .loginRight,
  .loginFormInput {
    width: 252px;
  }

  .loginRightInfo h1 {
    font-size: 28px;
    margin-top: 12px;
  }

  .loginForm .formGroup {
    margin-bottom: 20px;
  }

  .loginRightInfo p {
    margin-bottom: 8px;
  }
}
